html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Times New Roman", Georgia, Times, serif;
	font-size: 18px;
	background-color: #f3eecd;
}

#maincontent {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 8%;
	margin-bottom: 5%;
}

#newsComments {
	position: relative;
	float: left;
	margin-left: 3%;
	color: red;
}

#newsShowMore {
	float: left;
	margin-left: 3%;
}

#newsTags {
	float: left;
	margin-left: 3%;
	color: grey;
	white-space: pre-line;
	display: inline;
}

#newsTitle {
	float: left;
	margin-left: 40px;
	font-weight: bold;
	white-space: pre-wrap;
	display: inline;
	font-family: sans-serif;
	font-size: 24;
}

#newsAuthor {
	font-family: sans-serif;
	font-style: italic;
	white-space: pre-wrap;
	display: inline;
}

#newsModificationDate {
	float: right;
	margin-right: 40px;
	white-space: pre-wrap;
	display: inline;
	text-decoration: underline;
}

#newsShortText {
	margin-left: 40px;
}

#newsFullText {
	margin-left: 40px;
	margin-right: 180px;
	white-space: pre-wrap;
	text-align: justify;
}

.comment {
	width: 39%;
	margin-left: 50px;
}

#commentCreationDate {
	float: left;
	text-decoration: underline;
}

#commentText {
	margin-left: 3%;
	background-color: gainsboro;
	background-origin: content-box;
}

#textareaNewComment {
	position: absolute;
	width: 505px;
	height: 100px;
	float: left;
	margin-left: 45px;
	font-size: large;
}

#addComment {
	float: right;
	margin-right: 57%;
}

#paganition {
	position: inherit;
	padding-top: 6%;
	color: black;
}

#paganition:VISITED {
	color: black;
}

#footer {
	background-color: lightcyan;
	position: fixed;
	top: 95%;
	left: 0;
	right: 0;
	bottom: 0;
	font: oblique;
	font-family: sans-serif;
	font-weight: bold;
}

#header {
	z-index: 1;
	background-color: lightcyan;
	position: fixed;
	height: 15%;
	left: 0;
	right: 0;
	top: 0;
}

#headerTitle {
	float: left;
	padding-top: 10px;
	padding-left: 40px;
	font-size: 30;
	color: blue;
	font-family: Times New Roman;
	font-weight: bold;
}

#headerLocal {
	float: right;
	padding-top: 50px;
	padding-right: 40px;
}

#back {
	position: absolute;
	padding-left: 2%;
}

#next {
	position: absolute;
	margin-left: 87%;
}

#previous {
	margin-left: 4%;
}

.error {
	border: 2px solid #c00;
}

.msg {
	float: left;
	margin-left: 45px;
	font-size: small;
	font-color: red;
	font-style: oblique;
}

#multiSelect {
	border: 1em;
}

/** Minimal stand-alone css for dropdownchecklist support
    We highly recommend using JQuery ThemeRoller instead  
*/
.ui-dropdownchecklist {
	font-size: medium;
	color: black;
}

.ui-dropdownchecklist-selector {
	height: 20px;
	border: 1px solid #ddd;
	background: #fff;
}

.ui-state-hover, .ui-state-active {
	border-color: #5794bf;
}

.ui-dropdownchecklist-dropcontainer {
	background-color: #fff;
	border: 1px solid #999;
}

.ui-dropdownchecklist-item {
	Sfloat: right;
	clear:both;
	padding-right:20px;
}

.ui-state-hover {
	background-color: #39f;
}

.ui-state-disabled label {
	color: #ccc;
	float: left;
}

.ui-dropdownchecklist-group {
	font-weight: bold;
	font-style: italic;
}

.ui-dropdownchecklist-indent {
	padding-left: 7px;
}
/* Font size of 0 on the -selector and an explicit medium on -text required to eliminate 
   descender problems within the containers and still have a valid size for the text */
.ui-dropdownchecklist-selector-wrapper {
	vertical-align: middle;
	font-size: 0px;
}

.ui-dropdownchecklist-selector {
	padding: 1px 2px 2px 2px;
	font-size: 0px;
}

.ui-dropdownchecklist-text {
	font-size: medium;
	float: left;
	/* line-height: 20px; */
}

.ui-dropdownchecklist-group {
	padding: 1px 2px 2px 2px;
}