* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: Georgia;
}

html, body {
	font-size: 16px;
}

a:link, a:visited {
	color: blue;
}

.header {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-left: 20px;
	background-color: #54769a;
	height: 60px;
	z-index: 1;
	border: 1px solid rgb(44, 71, 135);
	border-radius: 0 0 5px 5px;
}

.navigation {
	position: fixed;
	float: left;
	margin-top: 65px;
	margin-left: 2%;
	padding: 15px;
	border: 1px solid black;
	width: 30%;
	height: 200px;
	border-bottom: 10px solid #54769a;
	border-left: 15px solid #54769a;
	border-right: 10px solid #54769a;
}

.content {
	float: right;
	position: absolute;
	margin-top: 65px;
	margin-right: 3%;
	margin-left: 33%;
	margin-bottom: 100px;
	width: 65%;
}

.footer {
	width: 100%;
	height: 50px;
	line-height: 100%;
	/*margin-top: 44%;*/
	margin-top: 600px;
	position: fixed;
	background-color: #54769a;
	border: 1px solid rgb(44, 71, 135);
	border-radius: 5px 5px 0 0;
	z-index: 1;
	font-size: 1rem;
}

.header-title {
	margin-left: 30px;
	line-height: 60px;
	color: #ffffff;
	font-size: 30px;
	font-family: Georgia;
	font-weight: bolder;
}

.copyright {
	line-height: 40px;
	color: #ffffff;
	font-size: 16px;
	font-family: Georgia;
	font-weight: bolder;
}

.locale>a, .locale {
	text-transform: uppercase;
	color: #d5eff4;
}

.locale {
	z-index: 2;
	line-height: 60px;
	position: absolute;
	margin-top: -60px;
	margin-left: 90%;
}

.hello {
	color: #d5eff4;
	z-index: 2;
	line-height: 23px;
	position: absolute;
	margin-top: -60px;
	margin-left: 80%;
}

.add-news-form {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
	padding: 5px;
}

td {
	padding: 10px;
}

tr td:first-child {
	font-size: 20px;
	width: 17%;
	font-weight: bold;
}

.news-title, .news-short-text {
	width: 100%;
	font-size: 20px;
}

.news-full-text {
	width: 100%;
	height: 80px;
	font-size: 20px;
}

#button-save-news {
	width: 120px;
	height: 30px;
	float: right;
	margin-right: 20px;
}

.newsVO {
	width: 100%;
	height: 33.3%;
	padding: 15px;
}

.news-title a {
	display: block;
	width: 60%;
	font-size: 1.5rem;
}

div.newsVO span.news-author {
	position: absolute;
	margin-left: 55%;
	margin-top: -30px;
	font-size: 1.2rem;
	font-style: italic;
	line-height: 1.8rem;
}

div.newsVO span.news-modification-date {
	text-decoration: underline;
	font-size: 1.2rem;
	position: absolute;
	margin-left: 85%;
	margin-top: -30px;
}

div.newsVO span.news-short-text {
	font-size: 1rem;
}

div.newsVO span.news-tags {
	color: rgb(121, 121, 121);
}

div.newsVO div.news-tags-list {
	display: inline-block;
	width: 30%;
	position: absolute;
	margin-left: 50%;
}

div.newsVO div.news-comments {
	padding: 0 5px;
	display: inline-block;
	width: 10%;
	position: absolute;
	margin-left: 70%;
	color: rgb(255, 0, 0);
}

div.newsVO div.edit-news-button {
	display: inline-block;
	position: absolute;
	width: 10%;
	margin-left: 85%;
	padding-left: 10px;
	text-decoration: underline;
}

div.wrapper {
	width: 100%;
	height: 100%;
	padding: 20px 30px 20px 0px;
}

div.news-title {
	font-size: 1.3rem;
	font-weight: bold;
	width: 80%;
	padding: 5px;
}

span.news-modification-date {
	position: absolute;
	margin-left: 60%;
}

div.news-full-text {
	height: auto;
	padding-top: 15px;
	text-align: justify;
}

div.comments {
	width: 59%;
	font-size: 1rem;
	margin-left: 20px;
}

div.commentText {
	margin-left: 3%;
	background-color: gainsboro;
	background-origin: content-box;
}

div.commentCreationDate {
	text-decoration: underline;
}

div.comments a.deleteComment {
	position: absolute;
	margin-left: 56%;
	display: inline-block;
	background-color: grey;
}

#new-comment-text {
	margin-left: 3%;
	width: 97%;
	height: 50px;
	font-size: 1rem;
}

#new-comment-button {
	width: 60px;
	height: 30px;
	position: absolute;
	margin-left: 400px;
}

#prev-news-button {
	text-decoration: underline;
	text-transform: uppercase;
	position: absolute;
	margin-left: 10px;
	margin-top: 40px;
}

#next-news-button {
	text-decoration: underline;
	text-transform: uppercase;
	position: absolute;
	margin-left: 80%;
	margin-top: 40px;
}

div.newsVO:hover {
	background-color: #d5dde5;
}

#header-title {
	text-transformation: uppercase;
	color: blue;
	font-size: 2em;
}

.error {
	border: 2px solid #c00;
}

.msg {
	margin-left: 3%;
	display: inline;
	font-size: small;
	color: red;
	font-style: oblique;
}

.update, .expired, .cancel, .delete {
	display: none;
	margin: 10px;
}

.edit-button, .update, .expired, .cancel, .delete {
	border-radius: 3px;
	background-color: #54769a;
	color: #fff;
	padding: 5px;
	text-align: center;
}

a.expired, a.cancel, a.delete {
	color: #fff;
}

.edit-button:hover, .update:hover, .expired:hover, .cancel:hover,
	.delete:hover {
	background-color: #d5eff4;
	color: #54769a;
}

.author>label, .tag>label {
	font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 40px;
}

.author>.input-text, .author>.input-new-author, .tag>.input-text, .tag>.input-new-tag
	{
	width: 50%;
}

ul#nav>li>a {
	display: inline-block;
	color: #fff;
	background-color: #54769a;
	border-radius: 3px;
	margin: 3px 0px;
	padding: 3px;
	width: 100%;
}

ul#nav>li>a:hover {
	background-color: #d5eff4;
	color: #54769a;
}

a.page {
	font-family: Times;
	display: inline-block;
	background-color: #d5eff4;
	color: #54769a;
	border-radius: 3px;
	margin: 3px 0px;
	padding: 3px;
	width: 20px;
	height: 20px;
}

a.page:hover {
	background-color: #54769a;
	color: #fff;
}

a#currentPage {
	display: inline-block;
	background-color: #54769a;
	color: #fff;
	border-radius: 3px;
	margin: 3px 0px;
	padding: 3px;
	width: 20px;
	height: 20px;
}

#multiSelect {
	border: 1em;
	z-index: 20;
}

/** Minimal stand-alone css for dropdownchecklist support
    We highly recommend using JQuery ThemeRoller instead  
*/
.ui-dropdownchecklist {
	font-size: medium;
	color: black;
	z-index: 2;
}

.ui-dropdownchecklist-selector {
	height: 20px;
	border: 1px solid #ddd;
	background: #fff;
	z-index: 2;
}

.ui-state-hover, .ui-state-active {
	border-color: #5794bf;
	z-index: 2;
}

.ui-dropdownchecklist-dropcontainer {
	background-color: #fff;
	border: 1px solid #999;
	z-index: 2;
}

.ui-dropdownchecklist-item {
	float: right;
	clear: both;
	padding-right: 20px;
	z-index: 2;
}

.ui-state-hover {
	background-color: #39f;
	z-index: 2;
}

.ui-state-disabled label {
	color: #ccc;
	z-index: 2;
}

.ui-dropdownchecklist-group {
	font-weight: bold;
	font-style: italic;
	z-index: 2;
}

.ui-dropdownchecklist-indent {
	padding-left: 7px;
	z-index: 2;
}
/* Font size of 0 on the -selector and an explicit medium on -text required to eliminate 
   descender problems within the containers and still have a valid size for the text */
.ui-dropdownchecklist-selector-wrapper {
	vertical-align: middle;
	font-size: 0px;
}

.ui-dropdownchecklist-selector {
	padding: 1px 2px 2px 2px;
	font-size: 0px;
}

.ui-dropdownchecklist-text {
	font-size: medium;
	float: left;
	/* line-height: 20px; */
}

.ui-dropdownchecklist-group {
	padding: 1px 2px 2px 2px;
}